.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  body {
    background-color: #1c1c1c;
    color: white;
    font-family: "Inter", sansInter;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main {
    background-color: #1a1b21;
    width: 317px;
    border-radius: 10px;
  }

  